$base: #f5f5f5;
$danger: red;
$primary: #f05e23;
$input-color: #c5c5c5;
$text-color: #797474;
$light-background: #F5F5F5;

// FONTS
$primary-size: 1.1rem;
$sub-primary: 0.9rem;
$lower-primary: 0.8rem;


// VARIABLES
  $xSm: 320px;
  $sm: 420px;
  $md: 768px;
  $lg: 960px;
  $xLg: 1024px;
  $xxLg: 1280px;
