@import '../../sass/variables.scss';

.product-container {
  margin: 0 auto;
  .card-container {
    height: 200px;
    margin-top: 4%;
  };

  .card {
    height: 100%;
    width: 15rem;
  }


  .image-container {
    height: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }

  .cart-section {
    font-weight: bolder;
    display: flex;
    padding: 0 10px;
    justify-content: space-between;

    .cart-link {
      color: $primary;
      cursor: pointer;
    }
  }
}

@media(max-width: $xLg) {
  .product-container {
    .card-container{
      margin-top: 0%;
    }
  }
}

@media(max-width: $sm) {
  .product-container {

    .card {
      width: 10rem;

      p {
        font-size: $lower-primary;
      }
    }

    .cart-section {
      padding: 0;
    }
  }
}
