@import '../../sass/variables.scss';

.product-container {
  margin: 0 auto;
  width: 80%;

  .card-container {
    height: 200px;
    margin-top: 30px;
  };

  .card {
    height: 100%;
    width: 200px;

  }


  .image-container {
    height: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }

 

  .cart-section {
    font-weight: bolder;
    display: flex;
    padding: 0 10px;
    justify-content: space-between;

    .cart-link {
      color: $primary;
      cursor: pointer;
    }
  }
}

@media(max-width: $xLg) {
  .product-container {
    width: 100%;

    .card-container{

      .card {
        width: 170px;

        .lower-font {
          font-size: 12px;
        }
      }
    }
  }
}

@media(max-width: $sm) {
  .product-container {

    .card {
      width: 100px;

      p {
        font-size: $lower-primary;
      }
    }

    .cart-section {
      padding: 0;
    }
  }
}

@media (max-width: $xSm) {
  .product-container
  .card-container {
    height: 150px;

    .card {
      width: 135px;
    }
  };
}

// This is for the loader. Loader is not in the product this
.loader-container {
  margin: 20vh auto 0 auto;
  text-align: center;
}