@import '../../sass/variables.scss';

.landing-page-container {
  width: 80%;
  margin : 10% auto 0 auto;

  &-side-bar {
    position: fixed;
  }

  &-main-content {
    margin-left: 16%;
    margin-top: 1%;

  }
}
@media(max-width: $xLg) {
  .landing-page-container {
    margin-top: 17%;
  }
}

@media(max-width: $lg) {
  .landing-page-container {
    margin-top: 15%;
  }
}

@media (max-width: $md) {
  .landing-page-container {
    width: 82%;
    margin-top: 18%;

    &-side-bar {
      display: none;
    }

    &-main-content {
      margin: 1% auto 0 auto;
    }
  }
}

@media only screen and (max-width: $sm) {
  .landing-page-container {
    width: 93%;
    margin-top: 40%;
  }
}
