@import '../../sass/variables.scss';

.landing-page-container {
  margin : 120px auto 0 auto;

  &-side-bar {
    position: fixed;
  }

  &-main-content {
    margin: 20px auto 0 auto;
    width: 100%;
  }
}

@media (max-width: $md) {
  .landing-page-container {
    width: 82%;

    &-side-bar {
      display: none;
    }

    &-main-content {
      margin: 20px auto 0 auto;
    }
  }
}

@media only screen and (max-width: $sm) {
  .landing-page-container {
    width: 93%;

    &-main-content {
      margin: 40px auto 0 auto;
    }
  }
}
