@import '../../sass/variables.scss';

.Toastify {
  .Toastify__toast--default {
    background-color: white;
    border-radius: 5px;
  }
}

.hiw-container {
  .center-align { text-align: center;}
  margin-top: 140px;
  &-title {
    text-align: center;

    h2 {
      font-size: $primary-size;
      color: $text-color;
    }
  }

  h3 {
    font-size: $sub-primary;
    font-weight: bold;
  }

  form {
    font-size: $lower-primary;

    input[type=radio], input[type=checkbox] {
      margin: 0 15px 15px 0;
    }

    input[type=number] {
      width: 50px;
      text-align: center;
      margin-bottom: 15px;

    }

    button {
      border-color: $primary;
      background-color: #ffffff;
      border-radius: 25px;
      padding: 5px 25px;
      margin-top: 7px;
      cursor: pointer;
    }
  }

  &-result {
    padding: 10px 20px;
    background-color: $light-background;
    border-left: 1px solid $input-color;

    table {
      font-size: $lower-primary;
      width: 40%;

      td {
        padding-top: 12px;
      }

      input[type=number] {
        width: 50px;
        text-align: center;
      }
    }

    button {
      color: white;
      border-radius: 25px;
      padding: 5px 45px;
      margin-top: 7px;
      cursor: pointer;
      border: none;
      margin-top: 10px;
      font-size: $lower-primary;
      background-color: $primary;
    }
  }
}

@media (max-width: $xxLg) {
  .hiw-container {

    table {
      width: 65%;
    }
  }
}

@media (max-width: $md) {
  .hiw-container {

    .estimate-button {
      margin-top: 37px;
    }

    table {
      width: 95%;
    }
  }
}

@media (max-width: $sm) {
  .hiw-container {
    margin-top: 165px;

    .hiw-container-result {
      margin:7% 0;
    }

    table {
      width: 85%;
    }

    .button-container {
      width: 85%;
      text-align: center;

      button {
        margin: 8% 0 3% 0;
        padding: 5px 30px;
      }
    }
  }
}
