@import '../../sass/variables.scss';
.item-wrapper {
  color: $text-color;
  margin-top: 120px;
  width: 80%;

  a:hover {
    text-decoration: none;
  }

  .bold {
    font-weight: bolder;
  }

  .image-container {
    height: 330px;
    width: 80%;
    overflow: hidden;
    margin-top: 25px;

    img {
      width: 100%;
    }
  }

  .item-row {
    padding-bottom: 20px;
    border-bottom: 1px solid #EFE7E7;
    line-height: 30px;

    .info-container {
      margin-top: 25px;
    }

    .table-container {
      border-top: 1px solid #EFE7E7;
      border-bottom: 1px solid #EFE7E7;
      padding: 4px 0;
      margin-top: 5px;
    }

    table {
      width: 100%;
      text-align: left;
      line-height: 35px;
    }

    .button-container {
      display: flex;
      margin-top: 15px;

      .add-to-cart {
        background-color: $primary;
        color: white;
        padding: 10px 15px;
        margin-right: 20%;
        cursor: pointer;
      }

      .checkout {
        color: black;
        padding: 10px 20px;
        border: 1px solid $primary;
        cursor: pointer;

       
      }
    }
  }

  .more-products-row {

    margin-top: 2%;

    .product-container {
      height: 150px;
      width: 80px;
      overflow: hidden;
      &:hover {
        transform: scale(1.1);
      }

      img {
        width: 100%;
        cursor: pointer;
      }
    }
  }
}

@media(max-width: $lg) {
  .item-wrapper{
    .item-row {
      .button-container {
        font-size: $sub-primary;
        .add-to-cart {
          padding: 2px 15px;
          margin-right: 20%;
        }

        .checkout {
          color: black;
          padding: 2px 15px;
          border: 1px solid $primary;
          cursor: pointer;
        }
      }
    }
  }

}

@media(max-width: $sm) {
  .item-wrapper {

    .image-container {
      height: 200px;
      width: 200px;
      margin: 30% auto 0 auto;
    }

    .item-row {
      .button-container {
        font-size: $sub-primary;
        .add-to-cart {
          padding: 2px 15px;
          margin-right: 20%;
        }

        .checkout {
          color: black;
          padding: 2px 15px;
          border: 1px solid $primary;
          cursor: pointer;
        }
      }
    }
  }
}
