@import '../../sass/variables.scss';

.search-bar {
  position: fixed;
  top: 6%;
  z-index: 2000;
  width: 100%;
  bottom: 2%;
  text-align: center;
  margin: 0 auto;
  background-color: #ecedec;
  height: 10%;


  .control-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }

  &-logo-container {
    width: 18%;
    border-color: $primary;
    .logo {
      width: 100%;
    }

    .image-container {
      width: 40%;
    }

    .image-container-2 {
      width: 55%;
      overflow: hidden;
      margin-top: 25%;
      margin-left: 15%;
    }
  }

  &-form {
    display: flex;
    width: 65%;
    margin-top: 25px;

    &-input-container {
      width: 80%;
    }

    input {
      width: 100%;
      padding: 7px;
      background-color: $input-color;
      border: none;
      font-size: $primary-size;
    }

    button {
      margin-left: 10%;
      background-color: $primary;
      color: white;
      padding: 5px 10px;
      cursor: pointer;
    }
  }

  &-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    width: 17%;
    p {
      font-size: $primary-size;
      &:hover {
        cursor: pointer;
        color: $primary;
      }
    }
  }
}

// IPAD SCREENS
@media only screen and (max-width: 768px) and (min-width: 415px) {
  .search-bar {
    &-logo-container {
      margin-top: 10px;
    }

    &-nav {
      width: 20%;
      margin-top: 30px;

      p {
        font-size: 0.8rem;
      }
    }
  }
}
// SMALLER PHONE SCREEN
@media only screen and (max-width: 415px) {
  .search-bar {
    width: 95%;

    &-logo-container {
      display: none;
    }

    &-form {
      margin-top: 10px;

      &-input-container {
        width: 100%;

        input {
          padding: 5px;
        }
      }
    }

    &-nav {
      margin-top: 15px;
      width: 30%;

      p {
        font-size: 0.8rem;
      }
    }
  }
};
