@import '../../sass/variables.scss';

.search-bar {
  position: fixed;
  top: 6%;
  z-index: 900;
  width: 100%;
  bottom: 2%;
  text-align: center;
  margin: 0 auto;
  background-color: #ecedec;
  height: 10%;

  .control-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }

  &-logo-container {
    width: 18%;
    border-color: $primary;
    .logo {
      width: 100%;
    }

    .image-container {
      width: 40%;
    }

    .image-container-2 {
      width: 55%;
      overflow: hidden;
      margin-top: 25%;
      margin-left: 15%;
    }
  }

  &-form {
    display: flex;
    width: 65%;
    margin-top: 25px;

    &-input-container {
      width: 80%;
    }

    input {
      width: 100%;
      padding: 7px;
      background-color: $input-color;
      border: none;
      font-size: $primary-size;
    }

    button {
      margin-left: 10%;
      background-color: $primary;
      color: white;
      padding: 5px 10px;
      cursor: pointer;
    }
  }

  &-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    width: 17%;
    p {
      font-size: $primary-size;
      &:hover {
        cursor: pointer;
        color: $primary;
      }
    }
  }
}

@media(max-width: $xLg) {
  .search-bar {
    top: 10%;
  };
}

@media(max-width: $lg) {
  .search-bar {
    top: 12%;
    height: 15%;

    &-form {
      display: flex;
      width: 95%;
      margin: 3% auto 0 auto;

      input {
        padding: 5px;
        font-size: $lower-primary;
      }

      button {
        padding: 4px 7px;
        font-size: $lower-primary;
      }
    }

    &-nav {
      justify-content: space-around;
      margin-top: 3%;
      width: 35%;
      p {
        font-size: $lower-primary;
        &:hover {
          cursor: pointer;
          color: $primary;
        }
      }
    }
  }

}

@media(max-width: $md) {
  .search-bar {
    top: 12.5%;
    height: 14%;
  }
}

@media(max-width: $sm) {
  .search-bar {
    width: 100%;
    top: 7.3%;
    height: 11%;

    &-logo-container {
      .image-container {
        display: none;
      }
    }
    .control-container {
      display: block;
      width: 100%;
    }

    &-form {
      display: flex;
      width: 95%;
      margin: 2% auto 0 auto;

      &-input-container {
        width: 96%;
      }

      input {
        padding: 5px;
        font-size: $lower-primary;
      }

      button {
        padding: 4px 7px;
        font-size: $lower-primary;
      }
    }
  }
}
