@import '../../sass/variables.scss';

.bd-example {
    height: 50vh;
    overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: $sm) {
  .bd-example {
    height: 50%;
  }
}


